


/* import fonts from fonts.css file */
@import url(./fonts.css);


/* ccs varriables */
@import url(./partials/_variables.css);

/* global style */
@import url(./partials/global.css);



/* start nav */
.navbar-brand
{
    padding:0 2rem 0 5rem;
}
.navbar
{
    padding: 1rem 20rem;
}

.nav-link
{
    font:normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding:1.7rem;
    color:var(--ttitle-color);
}

.active{
    background: var(--gradient-color);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
a:hover{
    background: var(--gradient-color);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* end nav */

/* banner area */

.site-banner
{
    background: url() no-repeat 0% 50%;
}
.site-title h3{
    padding-top:35%;
    font-weight: 500;
}
h3::after
{
    content:"";
    height: 2px;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);

}

.site-title h1{
    font-size: 3rem;
}
.site-title h4{
    font-size: 1.5rem;

}

.banner-image > img{
    padding: 2rem 0 ;
    width: 40rem;
}


/* end banner area */

/* about me */

.about-image > img{
    padding-left: 150px;
    padding-top: 50px;
    width:30rem;
}

.about-area
{
    padding: 3rem 5rem;

}

.about-title > h2 >span{
    display: block;
    font: normal bold 20px/60px var(--roboto);
    letter-spacing: 21px;
}

.about-title.paragraph > p{
    padding: 4rem 0;

}

/* about me end */

/* gallerry start */


.single-brand > img
{
    width: 450px;
    padding-left:40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.brand > div > div >div >h4 
{
    display: block;
    font: normal bold 20px/60px var(--roboto);
    letter-spacing: 21px;
    text-align: center;
}

.brand{
    padding:0rem 0rem 0rem 5rem;
}

/* gallery end */

/* project acrd area */

.service-area
{
    padding:7rem 2rem;/*topbottom left right */

}
.services-title
{
    padding:0.14rem;


}

.service-title h1{
    font-size: 35px;
}

.services
{
    background:rgb(248,252,253,0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: 5rem .5rem;
    transition:box-shadow .7s ease ;
}
.services:hover
{
    box-shadow:var(--box-shadow) ;
}
.mlpic
{
    width:200px;
}
.mlpic
{
    width:200px;
}
.mlpic
{
    width:200px;
}
.mlpic
{
    width:200px;
}



/* end project */


/* sub area */
.subscribe-us-area
{
    padding: 5rem;
}
.subscribe
{
    background: url(../img/bgsub.png);
    padding:10rem 0%;
    margin:3rem auto;
}
.subscribe-title h4{
    font:normal 700 30px/30px var(--roboto);
    color:whitesmoke;

}

.subscribe-title p{
    color: whitesmoke;
    padding: 1rem 2rem;
}

.input-textbox input{
    width: 400px;
    padding:1.5rem 1rem;
    border: 1px solid whitesmoke;
    background:transparent;
    color:whitesmoke;
    font: normal 500 17px/20px var(--roboto);
}
.input-textbox input::placeholder
{
    color:white;
}
.btn-submit button{
    background: whitesmoke;
    color:black;
    padding:.7rem 2rem;

}


/* end subscirbe */


/* footer area */

.footer-area
{
    padding: 0rem 5rem 5rem 5rem;
    background:url(../img/footback.jpg) ;
    
}

.social h5{
    font:normal 500 23px/30px var(--roboto);
}

.social a > i{
    font-size: 100px;
    padding: 2rem;
    color:var(--border-color);
    
}

.social a:hover >i
{
    color:var(--primary-color);

}
